*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
body{
    background-color:#081b29;
}
header{
    background-color: transparent;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color:#081b29;
}
header a{
    text-decoration: none;
    color:white;
    padding-right: 10px;
    font-size: large;
    padding-left: 10px;
}
header a:hover{
    background-color: rgb(87, 87, 87);
    border-radius: 10px;
}
.info{
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

}
.position{
    margin-top: 110px;
    margin-right: 250px;
    margin-bottom: 100px;
    width:500px;
}
.position p{
    margin-bottom: 10px;
    font-weight: 900;
    line-height: 20px;

}
.info h1{
    color:  rgb(87, 87, 87);
   font-size: 60px;
    font-weight: 900;
}
.img-home img{
    margin-top: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px white;
    animation-name: mov;
    animation-duration: 5s;
}
@keyframes mov{
    from {margin-bottom: 1000px;}
      to {margin-top: 40px;}
  }
.icon a{
   font-size: xx-large;
   color: white;
  padding-right: 10px;
}
.content{
    height: 60vh;
    background-color: black;
    color: white;
}
.content h1{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 45px;
    text-decoration: underline white;
}
.content-div{
    font-size: larger;
    height: 200px;
    padding-left: 300px;
    padding-top: 100px;
    font-weight: 900;
}
.card{
    background-color: gray;
    height: 80vh;
}
.card span{
    color:#081b29;
}
.card h1{
    color: black;
    text-align: center;
    padding-top: 20px;
    font-size: 45px;
    text-decoration: underline black;
}
.card-bg{
    background-color: rgb(0, 0, 0);
    width: 70vw;
    height: 300px;
    margin-left: 230px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-top: 50px;
    border-radius: 20px;
}
.card-info{
    background-color:#081b29;
    color: white;
    font-size: 20px;
    width: 210px;
    height: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px white;
}
.serv{
    background-color:#081b29;
    height: 90vh;
}
.serv h1{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    text-decoration: underline#000000;
}
.serv-div{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serv-position{
    height: 80vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.serv-position a img{
  
    width: 25vw;
    height: 30vh;
}
.card-2 {
    max-width: 400px;
    width: 100%;
    margin-left:-10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-2 img {
    width: 100%;
    height: 100%;
    border: 10px solid black;
    
  }
.dark-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    transition: 0.8s ease-in-out;
    opacity: 0;
  }

  .dark-background:hover {
    opacity: 1;
  }

  .dark-background h1 {
    color: white;
    margin-top: 15px;
  }
  .dark-background p {
    color: rgb(135, 135, 135);
    margin-left: 90px;
    margin-top: 10px;
    font-size: 30px;
  }
  
  





