@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #818181;
}

header {
    background-color: transparent;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px black;
    z-index: 999;
}

header a {
    text-decoration: none;
    color: orange;
    padding-right: 10px;
    font-size: large;
    padding-left: 10px;
    transition: 0.5s ease-in;
}

header a:hover {
    color: black;
}

.info {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./backround\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.position {
    text-align: center;
}

.position p {
    margin-bottom: 10px;
    font-weight: 900;
    line-height: 20px;

}

.info h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0.5vh;
    color: white;

}

.info h2 {
    font-size: 60px;
    margin-bottom: 0.5vh;
    color: rgb(255, 213, 135);
}

/*
animation-name: mov;
@keyframes mov{
    from {margin-bottom: 1000px;}
      to {margin-top: 10px;}
  }
*/
.icon a {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    padding-right: 10px;
    transition: 0.5s ease-in;
}

.icon a:hover {
    color: orange;

}

#page-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.img-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-2 img {
    border-radius: 30px;
    width: 24vw;
    height: 50vh;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.564);
}

.info-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.info-2-content {
    width: 20vw;
    text-align: center;
}

.info-2-content h1 {
    width: 100%;
    font-size: 3vw;
    margin-bottom: 2vh;
    color: rgb(255, 255, 255);
    margin-left: 4vw;
}

.info-2-content p {
    width: 28vw;
    font-weight: 900;
    font-size: 1.2vw;
}

#page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./bg-2\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page2-content h1 {
    color: white;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    text-decoration: underline orange;
}

.page2-content span {
    color: orange;
    font-size: 4vw;
    justify-content: center;
    text-decoration: underline;

}

.page2-content-2 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 5vh;
}

.card {
    width: 20vw;
    height: 40vh;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 1s ease-in;
}

.card img {
    width: 20vw;
    height: 20vh;
    border-radius: 20px 20px 0px 0px;
    filter: grayscale(100%);
    margin-top: -1.5vh;
    transition: 1s ease-in;
}

.card p {
    width: 15vw;
    text-align: center;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px black;
    text-align: center;
    color: orange;
}

footer h1 {
    margin-bottom: 2vh;
    padding-top: 2vh;
    font-size: 2vw;
}

footer a {
    font-size: 2vw;
    filter: grayscale(100%);

}

@media (max-width: 600px) {
    header {
        background-color: transparent;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7.5vh;
        position: fixed;
        width: 100%;
        flex-wrap: wrap;
        background-color: #ffffff89;
        box-shadow: 0px 0px 15px black;
        z-index: 999;
    }

    header h1 {
        font-size: 4.5vw;
        margin-left: auto;
        margin-right: auto;
        color: rgb(88, 58, 0);
    }

    header a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding-right: 10px;
        font-size: large;
        padding-left: 10px;
        transition: 0.5s ease-in;
    }

    .header-content {
        margin-left: auto;
        margin-right: auto;
    }

    header a:hover {
        color: black;
    }

    #page-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .img-2 img {
        border-radius: 30px;
        width: 70vw;
        height: 45vh;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.699);
    }

    .info-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .info-2-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .info-2-content h1 {
        width: 100%;
        font-size: 10vw;
        margin-bottom: 2vh;
        color: rgb(255, 255, 255);
        margin-left: 0;
    }

    .info-2-content p {
        width: 100%;
        font-weight: 900;
        font-size: 4.5vw;
    }

    #page-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .page2-content h1 {
        color: white;
        font-size: 10vw;
        display: flex;
        justify-content: center;
        text-decoration: underline orange;
        margin-top: 5vh;
    }

    .page2-content span {
        color: orange;
        font-size: 10vw;
        justify-content: center;
        text-decoration: underline;
    }

    .page2-content-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        margin-top: 5vh;
        flex-wrap: wrap;
    }

    .card {
        width: 50vw;
        height: 100%;
        background-color: rgb(43, 43, 43);
        border-radius: 20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: 1s ease-in;
        margin-top: 3vh;
        margin-bottom: 5vh;
        box-shadow: 20px 20px 30px black;
    }

    .card img {
        width: 100%;
        height: 20vh;
        border-radius: 20px 20px 0px 0px;
        filter: grayscale(0);
        margin-top: -1vh;
        transition: 1s ease-in;
    }

    .card h2 {
        width: 100%;
        text-align: center;
        margin-top: 1.5vh;
    }

    .card p {
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 4vw;
        justify-content: center;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }

    footer {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px black;
        text-align: center;
        color: orange;
    }

    footer h1 {
        margin-bottom: 2vh;
        padding-top: 2vh;
        font-size: 8vw;
    }

    footer a {
        font-size: 8vw;
        filter: grayscale(100%);

    }

}

@media (min-width: 800px) {
    .card:hover {
        transform: scale(1.1);
        box-shadow: 20px 20px 30px black;

        img {
            filter: grayscale(0);
        }
    }


}
@media (min-width: 602px) and (max-width: 1300px) {
    header {
        background-color: transparent;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7.5vh;
        position: fixed;
        width: 100%;
        flex-wrap: wrap;
        background-color: #ffffff89;
        box-shadow: 0px 0px 15px black;
        z-index: 999;
    }

    header h1 {
        font-size: 4.5vw;
        margin-left: auto;
        margin-right: auto;
        color: rgb(88, 58, 0);
    }

    header a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding-right: 10px;
        font-size: large;
        padding-left: 10px;
        transition: 0.5s ease-in;
    }

    .header-content {
        margin-left: auto;
        margin-right: auto;
    }

    header a:hover {
        color: black;
    }
    #page-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .img-2 img {
        border-radius: 30px;
        width: 50vw;
        height: 40vh;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.699);
    }

    .info-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .info-2-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .info-2-content h1 {
        width: 100%;
        font-size: 5vw;
        margin-bottom: 2vh;
        color: rgb(255, 255, 255);
        margin-left: 0;
    }

    .info-2-content p {
        width: 50%;
        font-weight: 900;
        font-size: 2vw;
    }
    #page-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .page2-content h1 {
        color: white;
        font-size: 8vw;
        display: flex;
        justify-content: center;
        text-decoration: underline orange;
        margin-top: 5vh;
    }

    .page2-content span {
        color: orange;
        font-size: 8vw;
        justify-content: center;
        text-decoration: underline;
    }

    .page2-content-2 {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        margin-top: 5vh;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 30vw;
        height: 80%;
        background-color: rgb(43, 43, 43);
        border-radius: 20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: 1s ease-in;
        margin-top: 3vh;
        margin-bottom: 5vh;
        box-shadow: 20px 20px 30px black;
    }

    .card img {
        width: 100%;
        height: 20vh;
        border-radius: 20px 20px 0px 0px;
        filter: grayscale(0);
        margin-top: -1vh;
        transition: 1s ease-in;
    }

    .card h2 {
        width: 100%;
        text-align: center;
        margin-top: 1.5vh;
    }

    .card p {
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 2vw;
        justify-content: center;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
    footer {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px black;
        text-align: center;
        color: orange;
    }

    footer h1 {
        margin-bottom: 2vh;
        padding-top: 2vh;
        font-size: 4vw;
    }

    footer a {
        font-size: 4vw;
        filter: grayscale(100%);

    }
    
}